[submodule "third_party/Sophus"]
    path = third_party/Sophus
    url = https://github.com/strasdat/Sophus.git
[submodule "third_party/eigen"]
    path = third_party/eigen
    url = https://gitlab.com/libeigen/eigen.git
