[submodule "third_party/Sophus"]
    path = third_party/Sophus
    url = https://github.com/strasdat/Sophus.git
[submodule "third_party/ceres-solver"]
    path = third_party/ceres-solver
    url = https://github.com/ceres-solver/ceres-solver.git
