aiohttp
aiosignal
appdirs
appnope
asttokens
async_timeout
attrs
backcall
charset_normalizer
cycler
decorator
executing
flake8
fonttools
frozenlist
idna
imageio
iniconfig

ipython
jedi
kiwisolver

matplotlib
matplotlib_inline

# FIXME: Fix these imports
mpmath
multidict
numpy==1.22.3
opencv-python-headless
packaging
parso
pexpect
pickleshare
pillow
pluggy

plyfile
prompt_toolkit
ptyprocess
pure_eval
py
pygments
pyparsing

PySide6
pyside6_addons
pyside6_essentials
pytest
python_dateutil
pyvista

pyvistaqt
qtpy
scipy==1.8
scooby
setuptools
shiboken6
six
stack_data
sympy==1.8
tomli
tqdm
traitlets
vtk
wcwidth
wslink
yarl
