aiohttp==3.8.1
aiosignal==1.2.0
appdirs==1.4.4
asttokens==2.0.5
async-timeout==4.0.2
attrs==21.4.0
backcall==0.2.0
charset-normalizer==2.1.0
cycler==0.11.0
decorator==5.1.1
execnet==1.9.0
executing==0.8.3
flake8==4.0.1
fonttools==4.33.3
frozenlist==1.3.0
idna==3.3
imageio==2.19.3
iniconfig==1.1.1
ipython==8.4.0
jedi==0.18.1
kiwisolver==1.4.3
loguru==0.6.0
matplotlib==3.5.2
matplotlib-inline==0.1.3
mccabe==0.6.1
mpmath==1.2.1
multidict==6.0.2
numpy==1.23.0
opencv-python-headless==4.6.0.66
packaging==21.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.1
platformdirs==2.5.2
pluggy==1.0.0
plyfile==0.7.4
prompt-toolkit==3.0.30
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.12.0
pyparsing==3.0.9
PySide6==6.3.1
PySide6-Addons==6.3.1
PySide6-Essentials==6.3.1
pytest==7.1.2
pytest-forked==1.4.0
pytest-xdist==2.5.0
python-dateutil==2.8.2
pytools==2022.1.12
pyvista==0.34.1
pyvistaqt==0.9.0
QtPy==2.1.0
scipy==1.8.1
scooby==0.5.12
shiboken6==6.3.1
six==1.16.0
stack-data==0.3.0
sympy==1.10.1
tomli==2.0.1
tqdm==4.64.0
traitlets==5.3.0
typing_extensions==4.2.0
vtk==9.1.0
wcwidth==0.2.5
wslink==1.6.5
yarl==1.7.2
