tqdm
pytest
flake8
opencv-python-headless
numpy==1.22.3
scipy==1.8
sympy==1.8

# FIXME: Fix these imports
mpmath
pluggy
iniconfig
packaging
tomli
attrs
py
pyparsing

ipython
jedi
pickleshare
decorator
traitlets
backcall
pygments
appnope
prompt_toolkit
pexpect
stack_data
matplotlib_inline
setuptools
parso
ptyprocess
wcwidth
pure_eval
asttokens
executing
six

matplotlib
cycler
fonttools
python_dateutil
pillow
kiwisolver

plyfile

pyvistaqt
pyvista
qtpy
appdirs
imageio
scooby
vtk
wslink
aiohttp
aiosignal
charset_normalizer
yarl
frozenlist
async_timeout
multidict
idna

PySide6
pyside6_essentials
pyside6_addons
shiboken6
